{%load bootstrap%}
{% bootstrap_css %}
{% bootstrap_js %}
<div class='offset span12'>
<table class='table table-bordered table-striped '>
	<tr>
		<th>Description</th>
		<th>Date</th>
	</tr>
{%for k in l%}
<tr>
	<td>
		<form method='POST' action='view_feed'>
		<button class='btn btn-link'>
			{{k.description}}
		</button>
		<input type='hidden' value={{k.id}} name='feed_id'>
		</form>
		  		<!-- <a href="/view_feed" id={{k.id}}>{{k.description}}</a> -->
	</td>
	<td>
		{{k.date}}
	</td>
</tr>
{%endfor%}
</table>

			<input>
<button class='btn btn-large btn-primary' onclick='ano()'>

</div>